body {
  background-image:url("sa") ;
  background: linear-gradient(
    30deg,
    rgba(235, 15, 15),
    rgba(220, 108, 127, 0.8)
  );

  color: rgb(68, 68, 68);
}

#page-logo a {
  color: rgb(183, 230, 235);
}

header {
  position: static;
}

haeder a {
  color: rgb(183, 230, 235);
}

header nav a {
  color: rgb(183, 230, 235);
}

header nav a:hover {
  background-color: rgb(183, 230, 235);
  color: rgb(59, 59, 59);
}

main ul {
  width: 1200px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 2px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

li:nth-of-type(6) {
  grid-column: 1 / span 2;
}

li:nth-of-type(9) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  /* box-shadow: top-bottom left-right radius rgba a for opacity*/
  border-radius: 6px;
  margin: 4px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(22, 211, 228);
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
}
#services{
	
	padding: 50px 0px;
}
.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;
}
.services-info p{
	font-size: 25px;
	font-weight: bold;
}
.services-row{
	display: grid;
	grid-template-columns: repeat(5,200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 4.5em;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	overflow: hidden;
}

.services-box:hover{
height: 250px;


}
.services-box{
	box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	width: 100%;
	height: 150px;
border-radius: 10px;
z-index: 99;

}
.img{
	width: 89%;
	transform: translateY(-30px);
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
	overflow: hidden;
}
.services-box i{
	background:#d3ad7f;
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-top: -20px;
}
.d{
	padding: 20px ;
	text-align: center;
	transform: translateY(-200px);
	opacity: 0;
	transition: 0.3s;
	color: rgb(50, 37, 46);
    font-size: 15px;
	
}
.services-box:hover > .d{
		opacity: 1;
		transform: translateY(-50px);
}
