#hero {
  height: 800px;
  background-image: url("/Images/places/beautiful-girl.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.6);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content:hover {
  background-color: transparent;
}

#hero h1 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Oleo Script", cursive;
  margin: 0;
}

#hero p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#highlights {
  padding: 24px;
  background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}

.destination {
  margin: 0 20px;
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.destination img {
  height: 200px;
  width: 400px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

.destination strong {
  color: rgb(0, 116, 117);
}

#page-logo img {
  width: auto;
  height: 70px;
  border-radius: 16px;
}







.contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
  align-items: center;
}

.contact .row form{
  flex:1 1 40rem;
  padding:2rem 2.5rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
}

.contact .row .image{
  flex:1 1 40rem;
  
}

.contact .row .image img{
  width: 100%;
}

.contact .row form .box{
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  margin:.7rem 0;
  width: 100%;
}

.contact .row form .box:focus{
  border-color: var(--pink);
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  color:rgb(255, 252, 252);
  font-size: 2.5rem;
  padding:1rem 0;
}

.footer .box-container .box a{
  display: block;
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.footer .box-container .box a:hover{
  color:var(--pink);
  text-decoration: underline;
}

.footer .box-container .box  img{
  margin-top: 1rem;
}

.footer .credit{
  text-align: center;
  padding:1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color:#333;
  border-top: .1rem solid rgba(0,0,0,.1);
  padding-bottom: 9rem;
}

.footer .credit span{
  color:var(--pink);
}
.Submit{
  background-color: #62ae2f;
  color: #f5f8f3;
  text-align: center;
  padding: 15px 15px;
  border-radius: 1rem;
  display: inline-block;
  font-size: 18px;
}
.Submit{
  transition-duration: 0.4s;
}
.Submit:hover{
  background-color: #f5f8f3;
  color: #62ae2f;
  border: 2px solid #5dfd0e;
}
#end{
  color: #49c70a;
  font-size: 25px;
}